@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <title>Colab World - Login</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Css/singin.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
</head>

<body>

    <div class="container">

        <form class="form-signin" action="/Pessoa">
            <h2 class="form-signin-heading">Colab World <br /> Bem vindo!</h2>

            <label for="inputEmail" class="sr-only">Usuário</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Nome de usuário" required autofocus>
            <label for="inputPassword" class="sr-only">Senha</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        </form>

    </div> <!-- /container -->
</body>
</html>
